<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="AutoMapper" version="2.2.1" targetFramework="net40" />
  <package id="AWSSDK" version="1.5.29.0" targetFramework="net40" />
  <package id="EnyimMemcached" version="2.12" targetFramework="net40" />
  <package id="ServiceStack" version="3.9.58" targetFramework="net40" />
  <package id="ServiceStack.Caching.AwsDynamoDb" version="3.9.55" targetFramework="net40" />
  <package id="ServiceStack.Caching.Azure" version="3.9.55" targetFramework="net40" />
  <package id="ServiceStack.Caching.Memcached" version="3.9.55" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.58" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.58" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="3.9.58" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.58" targetFramework="net40" />
  <package id="WindowsAzure.Caching" version="1.7.0.0" targetFramework="net40" />
</packages>