<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="ServiceStack" version="3.9.59" targetFramework="net40" />
  <package id="ServiceStack.Common" version="3.9.59" targetFramework="net40" />
  <package id="ServiceStack.Logging.Log4Net" version="1.0.10.0" targetFramework="net40" />
  <package id="ServiceStack.Logging.Log4Netv1210" version="1.0.10.0" targetFramework="net40" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.59" targetFramework="net40" />
  <package id="ServiceStack.Redis" version="3.9.59" targetFramework="net40" />
  <package id="ServiceStack.Text" version="3.9.59" targetFramework="net40" />
</packages>